<!DOCTYPE html>
<html lang="en">
<head>

    <title>duedate</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>

    <script src="duedate.js"></script>
    <script src="controller.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>

</head>
<body>

    <div class="container">

        <header>
            <h1>duedate</h1>
        </header>

        <div id="authorize-div" style="display: none">
            <span>Authorize access to Google Tasks API</span>
            <button id="authorize-button" onclick="duedate.handleAuthClick(event)">Authorize</button>
        </div>

        <div id="app-div" style="display: none" layout="row" ng-controller="tasklistCtrl">

            <div flex="30">

                <md-list ng-model="data.selectedTasklist" ng-init="data.selectedTasklist='all'">
                    <md-list-item class="md-2-line" ng-click="data.selectedTasklist='all'" ng-style="data.selectedTasklist=='all' ? {'background-color':'#b7d1fa'} : {'background-color':'white'}">
                        <div class="md-list-item-text">
                            <h3>all</h3>
                            <p>items: {{tasklistsTotal()}}</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line secondary-button-padding" ng-click="data.selectedTasklist=tasklist.id" ng-repeat="tasklist in tasklists" ng-style="data.selectedTasklist==tasklist.id ? {'background-color':'#b7d1fa'} : {'background-color':'white'}">
                        <div class="md-list-item-text">
                            <h3>{{tasklist.title}}</h3>
                            <p>items: {{tasklist.tasks.length}}</p>
                        </div>
                        <md-button class="md-secondary" ng-click="tasklistDelete(tasklist.id)" ng-if="tasklist.title!='tasks'">delete</md-button>
                    </md-list-item>
                </md-list>

                <form ng-submit="tasklistInsert(data.tasklistInput)">
                    <md-input-container md-no-float class="md-block">
                        <input ng-model="data.tasklistInput" placeholder="Add new tasklist">
                    </md-input-container>
                </form>

            </div>

            <div flex="70">

                <md-list>
                    <div ng-repeat="tasklist in tasklists" ng-if="tasklist.id==data.selectedTasklist || data.selectedTasklist=='all'">
                        <md-list-item class="md-2-line secondary-button-padding" ng-repeat="task in tasklist.tasks | orderBy:'due'">
                            <div class="md-list-item-text" style="padding-left: 20px">
                                <md-input-container md-no-float>
                                    <input style="width:500px" ng-model="task.title" placeholder="Modify task name" ng-keyup="$event.keyCode == 13 && taskNameModify(task, task.title, $event)">
                                    <p>{{task.due | date:'fullDate' : 'UTC'}}</p>
                                </md-input-container>
                            </div>
                            <md-menu class="md-secondary" md-position-mode="target-right target">
                                <md-button class="md-icon-button" ng-click="$mdOpenMenu()">
                                    <md-icon md-menu-origin>more_vert</md-icon>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button ng-click="taskDelete(task)">
                                            <div layout="row">
                                                <p flex>delete</p>
                                                <md-icon md-menu-align-target style="margin-right:0">clear</md-icon>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-datepicker ng-model="data.taskDateModify" md-placeholder="Modify due date" ng-change="modifyTaskDate(task, data.taskDateModify)"></md-datepicker>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-list-item>
                    </div>
                </md-list>

                <form layout="row" class="md-inline-form">
                    <md-input-container md-no-float flex>
                        <input ng-model="data.taskInput" placeholder="Task name" ng-keyup="$event.keyCode == 13 && taskInsert(data.selectedTasklist, data.taskInput, data.taskDateInput)">
                    </md-input-container>
                    <md-datepicker ng-model="data.taskDateInput" md-placeholder="Task due date"></md-datepicker>
                    <div><md-button ng-click="taskInsert(data.selectedTasklist, data.taskInput, data.taskDateInput)">Add Task</md-button></div>
                </form>

            </div>

        </div>

        <footer>
            <p>© 2016 <a href="http://francisbergin.com">Francis Bergin</a></p>
        </footer>

    </div>

</body>
</html>
