<!DOCTYPE html>
<html lang="en" ng-app="duedateApp">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>duedate</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="style.css">

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>

    <script src="duedate.js"></script>

    <script src="https://apis.google.com/js/client.js?onload=init"></script>

</head>
<body ng-controller="tasklistCtrl">

    <div class="container">

        <header class="page-header">
            <h1>duedate</h1>
        </header>

        <div class="row" ng-show="authenticated==undefined">
            <div class="text-center">
                <span class="glyphicon glyphicon-refresh"></span>
            </div>
        </div>

        <div class="row" ng-show="authenticated==false">
            <div class="text-center">
                <button class="btn btn-default" ng-click="checkAuth(false)">
                    Authorize access to Google Tasks API
                </button>
            </div>
        </div>

        <div class="row" ng-show="authenticated==true">

            <div class="col-md-4">

                <div class="list-group" ng-model="data.selectedTasklist" ng-init="data.selectedTasklist='all'">

                    <a href="" class="list-group-item" ng-class="{'active': data.selectedTasklist=='all'}" ng-click="data.selectedTasklist='all'">
                        <span>all | <small>{{(tasks|filter:isTaskInTasklist('all')).length}}</small></span>
                    </a>

                    <a href="" class="list-group-item" ng-class="{'active': data.selectedTasklist.id==tasklist.id}" ng-click="data.selectedTasklist=tasklist" ng-repeat="tasklist in tasklists">
                        <span>{{tasklist.title}} | <small>{{(tasks|filter:isTaskInTasklist(tasklist)).length}}</small></span>
                        <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#{{tasklist.id}}">
                            <span class="glyphicon glyphicon-option-vertical"></span>
                        </button>
                    </a>

                    <a href="" class="list-group-item" ng-class="{'active': data.selectedTasklist=='trash'}" ng-click="data.selectedTasklist='trash'">
                        <span>trash | <small>{{(tasks|filter:isTaskInTasklist('trash')).length}}</small></span>
                    </a>

                </div>

                <div class="modal fade" id="{{tasklist.id}}" tabindex="-1" role="dialog" ng-repeat="tasklist in tasklists">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                <h4 class="modal-title">Edit tasklist</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="tasklist-title" class="control-label">Title:</label>
                                        <input type="text" class="form-control" id="tasklist-title" ng-model="tasklistNewTitle" ng-init="tasklistNewTitle=tasklist.title">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                                <button type="button" data-dismiss="modal" class="btn btn-danger" ng-click="tasklistsDelete(tasklist)" ng-if="tasklist.id!==defaultTasklistID">Delete</button>
                                <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="tasklistsPatchTitle(tasklist, tasklistNewTitle)">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <form ng-submit="tasklistsInsert(data.tasklistInput)">
                    <input type="text" class="form-control" ng-model="data.tasklistInput" placeholder="Add new tasklist">
                </form>

            </div>

            <div class="col-md-8">

                <div class="list-group">

                    <div class="list-group-item" ng-repeat="task in tasks | filter: isTaskInTasklist(data.selectedTasklist) | orderBy:['-status', 'due']" ng-class="{'task-done': task.status == 'completed'}">

                        <input type="checkbox" ng-model="task.status" ng-true-value="'completed'" ng-false-value="'needsAction'" ng-change="tasksPatchStatus(task)">

                        <span class="task-title">{{task.title}}</span>

                        <span class="task-tasklist-title"><small>{{taskTasklist(task).title}}</small></span>

                        <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#{{task.id}}">
                            <span class="glyphicon glyphicon-option-vertical"></span>
                        </button>

                        <span class="task-due-date pull-right" ng-if="task.due"><small>{{task.due | date:'fullDate':'+0'}}</small></span>

                    </div>

                </div>

                <div class="modal fade" id="{{task.id}}" tabindex="-1" role="dialog" ng-repeat="task in tasks">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                <h4 class="modal-title">Edit task</h4>
                            </div>

                            <div class="modal-body">
                                <form>

                                    <div class="form-group">
                                        <label for="task-title" class="control-label">Title:</label>
                                        <input type="text" class="form-control" id="task-title" ng-model="taskNewTitle" ng-init="taskNewTitle=task.title">
                                    </div>

                                    <div class="form-group">
                                        <label for="task-tasklist" class="control-label">Tasklist:</label>
                                        <select class="form-control" id="task-tasklist" ng-model="taskNewTasklist" ng-init="taskNewTasklist=taskTasklist(task)" ng-options="tasklist as tasklist.title for tasklist in tasklists"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="task-notes" class="control-label">Notes:</label>
                                        <textarea class="form-control" id="task-notes" ng-model="taskNewNotes" ng-init="taskNewNotes=task.notes"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="task-due-date" class="control-label">Due date:</label>
                                        <input type="text" class="form-control" id="task-due-date" ng-model="taskNewDate" ng-init="taskNewDate=(task.due | date:'fullDate':'+0')" data-provide="datepicker" data-date-autoclose="true" data-date-today-highlight="true" data-date-clear-btn="true" data-date-format="DD, MM d, yyyy">
                                    </div>

                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                                <button type="button" data-dismiss="modal" class="btn btn-danger" ng-click="tasksDelete(task)">Delete</button>
                                <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="tasksPatch(task, taskNewTitle, taskNewTasklist, taskNewNotes, taskNewDate)">Save changes</button>
                            </div>

                        </div>
                    </div>
                </div>

                <form ng-submit="tasksInsert(data.selectedTasklist, data.taskInput)">
                    <input type="text" class="form-control" ng-model="data.taskInput" placeholder="Add new task">
                </form>

            </div>

        </div>

        <footer class="footer">
            <p>© 2016 <a href="http://francisbergin.com">Francis Bergin</a></p>
        </footer>

    </div>

</body>
</html>
