body {
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.page-header {
    text-align: center;
}

md-list {
    height: 550px;
    overflow-y: scroll;
    border: 1px solid #ddd;
}

.md-datepicker-input {
    display: none;
}

.md-datepicker-triangle-button {
    display: none;
}

md-input-container .md-errors-spacer {
    min-height: 0;
}

.footer {
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
