.page-header {
    text-align: center;
}

.form-control,
.input-group-addon,
.input-group-btn button {
    border-radius: 0px;
}

.list {
    height: 500px;
    overflow-y: scroll;
}

.btn {
    text-align: left;
}

.task-done {
    text-decoration: line-through;
}

.task-late {
    color: red;
}

.footer {
    padding-top: 15px;
    margin: 20px 0 40px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
