body {
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: 20px 0;
}

md-list {
    height: 550px;
    overflow-y: scroll;
    border: 1px solid #ddd;
}

md-input-container .md-errors-spacer {
    min-height: 0;
}

footer {
    text-align: center;
    padding: 20px 0;
}
